/*div
{
    border:2px solid black;
}

section
{
    border:2px solid red;
}*/


@font-face {
    font-family: "AlexBrush-Regular";
    src: url("../font/AlexBrush-Regular.ttf");

}

@font-face {
    font-family: "Hendrickson-K7GOD";
    src: url("../font/Hendrickson-K7GOD.otf");
}

@font-face {
    font-family: "Mishella-w1Pdw";
    src: url("../font/Mishella-w1Pdw.otf");
}

@font-face {
    font-family: "KgHolocene";
    src: url("../font/KgHoloceneRegular-lgjKy.ttf");
    
}

html
{
    scroll-behavior: smooth;
}

body 
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*background-color: #f7f7f7;*/
    background-image: url("../images/background-body-5-bis.png");
    background-attachment:fixed;
    background-size:cover;
}


header
{
    
    position:absolute;
    top: 0;
    z-index: 5;
    background-color: white;
    background-attachment:fixed;
    background-size:cover;

   
}

#telecharger
{
    position:relative;
    right : 50px;
    border: 1px solid black;
  
}

#telecharger:hover
{
    border: 1px solid rgb(13, 110, 253);
}


#initiale
{
    font-size: 1.5em;
    font-family: "KgHolocene";
}

.nav-link 
{
    color: black;
    /*font-size:medium;*/
}

/*.nav-link:hover
{
    border-bottom :1px solid rgb(13, 110, 253);
    border-radius: 0%;
}*/

#Accueil 
{
    justify-content: space-around;
    align-items: center;
    margin-top: 8em;
    /*mt-5 justify-content-around align-items-center*/
}

#Accueil h1,h2
{
    position: relative;
    left : 80px;
}

h1 span
{
    font-family:"AlexBrush-Regular";
    font-size:2em;
}
h1 span > span
{
    font-family:"AlexBrush-Regular";
    font-size:1em;
    color: rgb(13, 110, 253);
}

#Accueil figure 
{   /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0.5em 0.5em 0.5em gainsboro;
    position :relative;
    top: 40px;
    left: 80px;
    border-radius: 30px;
    overflow: hidden;
}

/*section:last-child::after
{
    content: "";
    border-top: 1px solid black;
    width: 100px;
    position:absolute;
    bottom: 100px;


}*/



.title-section span 
{
    font-family:"AlexBrush-Regular";
    color: rgb(13, 110, 253);
}

.title-section
{
    text-align: center;
    margin-bottom: 0.3em;
    font-family:"AlexBrush-Regular";
    font-size: 5em;
}

#Experience
{
    margin-top: 300px;
}

.progress
{
    margin-bottom: 3em;
    height: 2em;
}

#Competences
{
    margin-top: 300px;
}

#Competences h4
{
    text-align: center;
    margin-bottom: 1.5em;
}

.card-body
{
    position: relative;
    background-color: white;
}

#Langues
{
    margin-top: 300px;
}

#Langues img
{
    transition: transform 1s;
}

#Anglais:hover img, #Espagnol:hover img
{
    /* L'image est grossie de 25% */
    -webkit-transform:scale(1.25); /* Safari et Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* Internet Explorer 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}

#Formations
{
    padding-bottom: 50px;
}

#Formations div:last-child
{
    height: 650px;
}

#text-formation-conteneur
{
    background-color: rgb(244, 244, 244);
    border: 5px solid white;
    position: relative;
    z-index: 2;
    top: 180px;
    left: 300px;
    width: 40%;
    text-align: center;
    
   
}

#text-formation-conteneur div
{
    padding-top: 50px;
    
 
}

#text-formation-conteneur h5
{
    margin-bottom: 100px;
    
}

#text-formation-conteneur h5 img
{
    height: 2em;
    width: 2em;
    position: relative;
    right : 0.5em;
}

#text-formation-conteneur p
{
     font-size:0.7em;
    
 
}


#barre
{
    /*background-color: rgb(13, 110, 253);*/
    background-color:rgb(255, 84, 83);
    border: 1px solid black;
    height:95%;
    width: 70px;
    position: relative;
    top:230px;
    z-index: 3;
    left: 270px;

}

#Formations {
   margin-top: 300px;
}

#Formations figure
{
    position: relative;
    z-index: 1;
    left: 100px;
}

#Contactez-moi
{
    margin-top:400px;
}




